@media (min-width:576px) and (max-width:767px) {
	// basik settings
 	.subtitle{
	font-size: 18px;
	line-height: 25px;
	}
	.title{
	font-size: 30px;
	line-height: 38px;
	}
 	// header
 	.topBar{ 
 		display: none;
 	}
 	.downBar{
	flex-direction:column;
	&__text{
		text-align: center;
		width: 90%;
		h1{
			font-size: 38px;
			line-height: 45px;
			margin-bottom: 10px;
		}
	}
	&__article{
		margin-top: 40px;
		font-size: 18px;
		line-height: 28px;
		width: 88%;
		margin: 0 auto;
	}
	&__desck{
		margin-top: 15px;
	}
	&__btns{
		margin-top: 30px;
	}
	&__btn{
		width: 46%;
		max-width: 165px;
		max-height: 52px;
	}&__btn:last-child{
		margin-right: 0px;
	}
	&__picture{
		margin-top: 35px;
		width: 80%;
		img{
			width: 100%;
		}
	}
}

// prefer
.prefer{
	width: 100%;
	&__wrap{
		padding-top: 50px;
		padding-bottom: 60px;
	}
	&__title{
		font-size: 27px;
		line-height: 47px;
		width: 84%;
		margin-bottom: 50px;
	}
	&__company{
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 95%;
		margin: 0 auto;
	}
	&__item{
		width: 33%;
		min-width: 150px;
		margin-bottom: 15px;
		margin-top: 15px;
		img{
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
}

	// advantage
	.advantage{
	margin-bottom: 60px;
	&:first-child{
		padding-top: 60px;
	}
	&:last-child{
		padding-bottom: 40px;
	}
	flex-direction:column;
	&__text{
		width: 96%;
	}
	&__title{
		font-size: 29px;
		line-height: 32px;
		margin-bottom: 23px;
	}
	&__subtitle{
		margin-bottom: 18px;
	}
	&__link{
		font-size: 17px;
	}
	&__picture{
		margin-top: 30px;
		width: 84%;
		justify-content: center;
		img {
			width: 85%;
		}
	}
}
.advantage_reverse{
	flex-direction: column;
	.advantage__picture{
		justify-content: center;
	}
}

//product
.product{
	width: 92%;
	padding-top: 70px;
	padding-bottom: 35px;
	&__items{
		flex-wrap: wrap;
		margin-top: 55px;
		align-items: center;
		justify-content: center;
	}
	&__item{
		width: 80%;
	}
}

//services
.services{
	padding-bottom: 110px;
	padding-top: 60px;
	width: 92%;
	&__title{
		margin-bottom: 10px;
	}
	&__items{
		flex-wrap: wrap;
	}
	&__item{
		width: 80%;
		margin-top: 50px;
	}
	&__img{
		margin-bottom: 25px;
	}
}

//revolt
.revolt{
	padding-top: 45px;
	padding-bottom: 75px;
	width: 92%;
	flex-direction:column;
	&__text{
		width: 90%;
		margin: 0 auto;
	}
	&__img{
		margin-top: 45px;
		width: 100%;
		text-align: center;
		img{
			float: none;
			width: 60%;
		}
	}
	&__desck{
		font-size: 20px;
		line-height: 26px;
	}
}

//translation-software
.translation-software{
	width: 92%;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 40px;
	&__hr{display: none;}
	&__left{
		margin-bottom: 30px;
		justify-content: space-around;
		width: 100%;
		h2{
			margin-left: 15px;
			font-size: 18px;
			line-height: 25px;
		}
		img{
			width: 20%;
		}
	}
	&__item{
		width: 50%;
		p{
			align-self: center;
		}
	}
	&__items-img{
		align-self: center;
	}
}

//tools
.tools{
	padding-top: 65px;
	padding-bottom: 80px;
	img{
		width: 85%;
	}
	h2{
		max-width: 100%;
		font-size: 30px;
		line-height: 38px;
	}
	p{
		max-width: 100%;
		font-size: 18px;
		line-height: 26px;
	}
}

//tools
.why-wait{
	padding-top: 60px;
	padding-bottom: 80px;
	h2{
		font-size: 30px;
		line-height: 36px;
	}
	p{
		text-align: center;
		font-size: 17px;
	}
}

	//footer
	.footer {
		width: 88%;
		margin: 0 auto;
		max-width: 1400px;
		padding-top: 10px;

		&__main-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&__left-main-content {
			width:100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			h2 {
				font-size: 32px;
				line-height: 34px;
				@include semiBold();
				margin-bottom: 20px;
			}

			p {
				max-width: 280px;
				margin-top: 10px;
				margin-bottom: 5px;
				@include regular();
				font-size: 14px;
				line-height: 20px;
			}
		}


		&__main-photo {
			margin-bottom: 18px;
			width: 100%;
			max-width: 320px;
		}

		&__right-main-content {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;

			h4 {
				@include semiBold();
				margin-bottom: 15px;
				font-size: 20px;
				line-height: 25px;
			}

			p {
				@include regular();
				margin-bottom: 11px;
				font-size: 15px;
			}
		}
		&__column{
			margin-top: 15px;
			width: 45%;
			p{
				margin-top: 8px;
				margin-bottom: 8px;
				line-height: 18px;
			}
		}

		&__down-bar {
			margin-top: 60px;
			padding-top: 30px;
			padding-bottom: 5px;
			border-top: 1px solid $black;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&__left-down-bar {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		&__right-down-bar {
			margin-top: 15px;
			width: 100%;
			text-align: center;
			p {
				@include regular();
				font-size: 12px;
				line-height: 17px;
			}
		}

		&__logo {
			margin-right: 20px;
			line-height: 18px;
			@include semiBold();
			font-size: 23px;
		}

		&__logo-desck {
			max-width: 350px;
			@include regular();
			font-size: 12px;
			line-height: 17px;
		}
	}

	//burger
	.burger{
		display: flex;
	}

}