@import "resset.scss";

body {
  background-color: #F2F2F2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper {
  width: 94%;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
}

.pagination-desktop {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__item {
    p {
      font-family: 'Oswald', sans-serif;
      font-size: 20px;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  &__circle {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.59);
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
      transition: .2s;
    }

    span {
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
    }
  }

  .checked {
    background-color: #B23E5A;
    color: #FFFFFF;
  }
}

.pagination-mobile {
  display: none;
  padding-top: 30px;
  margin: 0 auto;
  width: 300px;

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    span {
      cursor: pointer;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
    }
  }
}

.questions {
  padding: 60px 50px;
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: -2px 2px 16px -1px rgba(0, 0, 0, 0.29);

  &__part {
    h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 24px;
      margin-bottom: 20px;
    }


    .audio-block {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      &__container{
        position: relative;
      }
      &__progress-bar {
        height: 3px;
        width: 200px;
        background-color: #535353;
        margin-right: 10px;
        border-radius: 10px;
        cursor: pointer;
      }

      &__pointer {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        background-color: #535353;
        transform: translateX(-8px);
        left: 0;
        bottom: -6.5px;
      }


      &__plPs {
        margin-right: 10px;
        height: 40px;
        width: 40px;
        background-color: #FFAC01;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.1);

        &:hover {
          background-color: #ffb927;
        }

        &:before {
          width: 30px;
          height: 30px;
          font-size: 35px;
          line-height: 20px;
          position: absolute;
          color: white;
          left: 3.5px;
          bottom: 0;
        }
      }

      .play {
        &:before {
          content: "⏵";
        }
      }

      .pause {
        &:before {
          content: "⏸";
        }
      }

      &__time {
        span {
          font-family: 'Oswald', sans-serif;

        }
      }
    }

    .question-block {
      font-family: 'Oswald', sans-serif;
      margin-bottom: 35px;

      &__header {
        color: gray;
        margin-bottom: 15px;
        font-size: 15px;
      }

      &__question {
        margin-bottom: 15px;
        font-size: 18px;
      }

      &__container {
        .radio-input {
          margin-bottom: 10px;
        }

        .radio-input input[type=radio] {
          display: none;
        }

        .radio-input label {
          display: inline-block;
          cursor: pointer;
          position: relative;
          padding-left: 25px;
          margin-right: 0;
          line-height: 18px;
          user-select: none;
        }

        .radio-input label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 18px;
          position: absolute;
          left: 0;
          bottom: 1px;
          background: url(../img/imgradio1.png) 0 0 no-repeat;
        }

        .radio-input input[type=radio]:checked + label:before {
          background: url(../img/imgradio2.png) 0 0 no-repeat;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .buttons {
    padding-top: 35px;

    .button-hidden {
      display: none;
    }

    button {
      margin-right: 20px;
      cursor: pointer;
      //border-radius: 50%;
      height: 40px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 18px;
      border-radius: 100px;
      min-width: 100px;
      box-shadow: 5px 1px 17px 0px rgba(0, 0, 0, 0.2);
    }

    .button_transparent {
      color: #B23E5A;
      background-color: transparent;
      border: 2px solid #B23E5A;
      //display: none;
      &:hover {
        background-color: #B23E5A;
        color: #FFFFFF;
        transition: .2s;
      }
    }

    .button_orange {
      border: none;
      background-color: #FFAC01;

      &:hover {
        background-color: #ffc141;
        transition: .2s;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .pagination-desktop {
    display: none
  }

  .wrapper {
    width: 96%;
  }

  .pagination-mobile {
    display: block;
  }
}